  .logo {
    width: 100px;
    height: 60px;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;

  }

  .logo-wrapper {
    margin: 0px;
  }

  .navbar {
    display: flex;
    justify-content: center;
    background-color: #000;
    width: 100%;
    height: auto;
    padding: 10px;
    border-bottom: 2px solid #BC25BF;
  }

  .search-bar-container {
    position: relative;
    display: inline-block;
  }

  .search-pane {
    margin-right: auto;
    margin-left: 20px;
    width: 100vh;
  }

  .icon-search-pane {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 32px;
    left: 145px;
    cursor: pointer;
  }

  .with-icon {
    padding-left: 40px;
    background: url('./images/searchIcon.png') no-repeat 10px center;
    background-size: 30px 30px;
  }

  .nav-list {
    list-style-type: none;
  }

  .nav-item {
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
    display: inline;
  }


  .nav-item::before {
    content: "\2022";
    color: #BC25BF;
    font-size: 40px;
    position: relative;
    top: 8px;
  }

  .copy {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #BC25BF;
    margin: 0px;
  }


  .btn-primary:hover {
    background-color: #BC25BF !important;
    color: #fff !important;
  }

  .btn-primary-deletion{
    background-color: #f00 !important;
    color: #000 !important;
  }

  .btn-primary-deletion:hover {
    background-color: #000 !important; 
    color: #fff !important;   
  }



  .explore-movies {
    display: flex;
    justify-content: center;
    color: #d8d2d2;
    font-size: 30px;
    margin-top: 60px;
  }

  .select-options {
    display: flex;
    justify-content: space-evenly;

  }

  .form-select {
    background-color: #BC25BF !important;
    color: #d8d2d2 !important;
    width: 30vh !important;
    border-color: #000 !important;
    overflow-y: auto;
    margin-bottom: 10px;
  }

  .movie-table {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;

  }

  .movie {
    margin: 10px;
    background-color: #000;
    border: 2px solid #BC25BF;
    border-radius: 3px;
    max-width: 253px;
    cursor: pointer;
  }

  .movie img {
    width: 250px;
    height: 400px;
    object-fit: cover;
  }

  .movie p {
    text-align: left;
    font-size: 15px;
    margin-left: 5px;
    font-weight: bold;
    color: #fff;    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .movie:hover {
    box-shadow: 0 0 10px 5px #be6cc0;
    transition: box-shadow 0.3s;
  }

  .carousel-container {
    margin: 15px;
  }

  .carousel {
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    background-color: #333;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    max-width: 380px;
    width: 180px;
    height: 320px;
  }

  .carousel:hover {
    box-shadow: 0 0 10px 5px #be6cc0;
    transition: box-shadow 0.3s;
  }

  .visit-count-tooltip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(165, 16, 175, 0.9);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: none;
    width: 100px;
    height: 50px;
    z-index: 1;

  }

  .carousel:hover .visit-count-tooltip {
    display: flex;
    justify-content: center;
  }

  .carousel img {
    border: 2px solid #BC25BF;
    width: 190px;
    height: 280px;
    object-fit: cover;
  }

  .carousel p {
    text-align: left;
    font-size: 12px;
    margin-top: 5px;
    font-weight: bold;
    color: #fff;
    margin-left: 5px;
  }

  .login-page {
    margin: 100px;
    padding: 50px;
    width: auto;
    height: auto;
    border: 2px solid #BC25BF;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
  }

  .login-page p {
    font-size: 30px;
    color: #fff;
  }

  .login-register-container {
    width: 400px;
    height: auto;
    border: 1px solid #BC25BF;
    border-radius: 10px;
    padding: 17px;

  }

  .user-container {
    height: auto;
  }

  .label {
    color: #fff;
    font-size: 15px;
    margin-left: 10px;
  }

  .custom-form-control {
    background-color: #414141 !important;
    border-color: #BC25BF !important;
    margin-bottom: 10px;
    color: #fff !important;
  }

  .vertical-line {
    border-left: 2px solid #BC25BF;
    height: 60vh;


  }

  .add-movie-container {
    margin: 100px;
    margin-top: 15px;
    padding: 50px;
    width: auto;
    height: auto;
    border: 2px solid #BC25BF;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-bottom: 18px;
  }

  .plot-content {
    background-color: #414141 !important;
    border-color: #BC25BF !important;
    margin-bottom: 10px;
    color: #fff !important;
    height: 50vh;

  }

  .button-container-add-movie {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }

  .details-container {
    display: flex;
    padding: 18px;
  }

  .suggestion-container {
    position: absolute;
    top: 10;
    left: 50;
    width: 710px;
    background-color: #000;
    box-shadow: 0px 2px 4px rgba(177, 13, 182, 0.9);
    z-index: 1;
    max-height: 300px;
    overflow-y: auto;
  }

  .suggestion-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #BC25BF;
    text-decoration: none;
    color: #333;
  }

  .suggestion-item:hover {
    background-color: #be6cc0;

  }

  .suggestion-item img {
    width: 50px;
    height: 70px;
    margin-right: 10px;
  }

  .suggestion-details {
    flex: 1;
  }

  .suggestion-title {
    color: #fff;
    font-weight: bold;
  }

  .suggestion-year {
    color: #fff;
  }

  .custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
    transition: opacity 0.3s ease;
  }

  .custom-arrow.prev {
    left: -80px;
  }

  .custom-arrow.next {
    right: -80px;
  }

  .custom-arrow:hover {
    opacity: 0.8;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #000;
    border: 1px solid #BC25BF;
    color: #BC25BF;
}

.pagination button.active {
    background-color: #BC25BF;
    color: #000;
}